:root {
  --button-gradient: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );
  --yellow: #ffb627;
  --icon-violet: #734aef;
  --white: #fbfbfb;
  --white-40: rgba(255, 255, 255, 0.4);
  --white-60: rgba(255, 255, 255, 0.6);
  --text-button: #623f8b;
  --dashboard-text: #ff868d;
  --form-color: rgba(255, 255, 255, 0.1);
  --background: #101010;
  --drop-shadow: (1px 4px 1px rgba(0, 0, 0, 0.25));
  --button-shadow: (1px 9px 15px 0 rgba(0, 0, 0, 0.2))

  --font-family: "Poppins", sans-serif;
  --second-family: "Circe", sans-serif;
  --transition:  all 0.3s ease;
  --scale: scale(1.1);

}
