.doughnutContainer {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) -1px -2px 2px, rgba(0, 0, 0, 0.56) 1px 2px 2px;
  border-radius: 50%;
}

.doughnutCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  text-align: center;
}
.innerCenter {
  width: 200px;
  height: 200px;
  box-shadow: rgb(0, 0, 0) 0px 0px 1px 1px inset,
    rgba(10, 10, 10, 0.5) -1px -1px 0px 0px inset;
  border-radius: 50%;
}
