.modalContainer {
  /* color: white; */
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .modalContainer {
    padding: 20px 53px;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.title {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--white);
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 30px;
  }
}

.select {
  width: 280px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .select {
    width: 394px;
  }
}

.select :global(.react-select__control) {
  background-color: rgba(74, 86, 226, 0.1);
  border: 1px solid var(--white-60);
  border-radius: 8px;
  box-shadow: none;
}

.select :global(.react-select__single-value) {
  color: var(--white);
  font-weight: 400;
}

.select :global(.react-select__menu) {
  z-index: 2;
  background: linear-gradient(
    360deg,
    rgba(83, 61, 186) 0%,
    rgba(80, 48, 154) 35.94%,
    rgba(106, 70, 165) 61.04%,
    rgba(133, 93, 175) 100%
  );
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-top: 0px;
  overflow: hidden;

  scrollbar-width: thin;
  scrollbar-color: #ff868d #ff868d;
}

.select :global(.react-select__option) {
  background-color: var(--form-color);
}

.select :global(.react-select__option:hover) {
  color: var(--dashboard-text);
}

.select :global(.react-select__dropdown-indicator) {
  color: var(--white);
}

&::-webkit-scrollbar {
  /* width: 8px;
  background-color: #51338a; */
  width: 6px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: #bfb4dd;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.amountDateInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .amountDateInputWrapper {
    flex-direction: row;
    gap: 32px;
  }
}

.amountInput {
  width: 280px;
  padding: 0 20px 8px;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  color: var(--white-60);
  font-weight: 600;
  border-bottom: 2px solid var(--white-40);
  &::placeholder {
    font-weight: 600;
    font-size: 18px;
    color: var(--white-60);
  }
  &:focus {
    outline: none;
  }
}

@media only screen and (min-width: 768px) {
  .amountInput {
    width: 181px;
  }
}

.commentInput {
  width: 280px;
  padding: 0 20px 32px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  resize: none;
  background-color: transparent;
  border: none;
  color: var(--white-60);
  font-weight: 600;
  border-bottom: 2px solid var(--white-40);
  &:focus {
    outline: none;
  }
  &::placeholder {
    width: 92px;
    height: 27px;
    font-weight: 400;
    font-size: 18px;
    color: var(--white-60);
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .commentInput {
    width: 394px;
    padding: 0 8px 0px;
  }
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btnAdd,
.btnCancel {
  width: 280px;
  padding: 12px 0;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  background-position: left center;
  transition: var(--transition);
  background-size: 200%;
}

.btnAdd {
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: var(--button-gradient);
  color: var(--white);
}

.btnCancel {
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: var(--white);
  color: var(--text-button);
}

@media only screen and (min-width: 768px) {
  .btnAdd,
  .btnCancel {
    width: 300px;
  }
}

.btnAdd:hover,
.btnAdd:focus {
  background-position: right center;
  transform: var(--scale);
}
.btnCancel:hover,
.btnCancel:focus {
  background-position: right center;
  transform: var(--scale);
}
