.modalContainer {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .modalContainer {
    padding: 20px 53px;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.title {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--white);
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 30px;
  }
}

.select {
  width: 280px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .select {
    width: 394px;
  }
}

.select :global(.react-select__control) {
  background-color: transparent;
  border-radius: 0px;
  border: none;
  padding: 0 20px 8px;
  border-bottom: 2px solid var(--white-40);
  transition: var(--transition);
}

@media only screen and (min-width: 768px) {
  .select :global(.react-select__control) {
    padding: 0 8px 8px;
  }
}

.select :global(.react-select__control--is-focused) {
  box-shadow: none;
  border-bottom: 2px solid var(--white-40);
}

.select :global(.react-select__placeholder) {
  color: var(--white-60);
  font-size: 18px;
  transition: var(--transition);
}

.select :global(.react-select__single-value) {
  color: var(--white);
  font-weight: 400;
}

.select :global(.react-select__menu) {
  z-index: 2;
  background: linear-gradient(
    360deg,
    rgba(83, 61, 186) 0%,
    rgba(80, 48, 154) 35.94%,
    rgba(106, 70, 165) 61.04%,
    rgba(133, 93, 175) 100%
  );
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  /* border-radius: 8px; */
  margin-top: 0px;
  overflow: hidden;

  scrollbar-width: 2px;
  scrollbar-color: #bfb4dd #bfb4dd;
}

.select :global(.react-select__option) {
  background-color: var(--form-color);
}

.select :global(.react-select__option:hover) {
  color: var(--dashboard-text);
}

.select :global(.react-select__dropdown-indicator) {
  border: none;
  color: var(--white);
}

.select :global(.react-select__indicator-separator) {
  display: none;
}

.wrapperForm {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.amountDateInputWrapper {
  width: 100%;
  max-height: 99px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .amountDateInputWrapper {
    max-width: 394px;
    flex-direction: row;
    align-items: end;
    gap: 32px;
  }
}

.amountInput {
  width: 280px;
  padding: 0 20px 8px;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  color: var(--white-60);
  font-weight: 600;
  border-bottom: 2px solid var(--white-40);
  transition: var(--transition);
  &::placeholder {
    font-weight: 600;
    font-size: 18px;
    color: var(--white-60);
  }
  &:focus,
  &:hover {
    outline: none;
    border-bottom: 2px solid var(--white-60);
  }
}

@media only screen and (min-width: 768px) {
  .amountInput {
    width: 181px;
  }
}

.errorForAmount {
  position: fixed;
  margin-top: 3px;
}

.commentInput {
  width: 280px;
  padding: 0 20px 32px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  resize: none;
  background-color: transparent;
  border: none;
  color: var(--white-60);
  font-weight: 600;
  border-bottom: 2px solid var(--white-40);
  overflow: hidden;
  transition: var(--transition);
  &:focus,
  &:hover {
    outline: none;
    border-bottom: 2px solid var(--white-60);
  }
  &::placeholder {
    width: 92px;
    height: 27px;
    font-weight: 400;
    font-size: 18px;
    color: var(--white-60);
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .commentInput {
    width: 394px;
    padding: 0 8px 0px;
  }
}

.errorForComment {
  position: fixed;
  margin-top: 3px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btnAdd,
.btnCancel {
  width: 280px;
  padding: 12px 0;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background-position: left center;
  transition: var(--transition);
  &:hover,
  &:focus {
    background-size: 200%;
    background-position: right center;
    transform: var(--scale);
    outline: none;
  }
}

.btnAdd {
  background: var(--button-gradient);
  color: var(--white);
}

.btnCancel {
  background: var(--white);
  color: var(--text-button);
}

@media only screen and (min-width: 768px) {
  .btnAdd,
  .btnCancel {
    width: 300px;
  }
}
