.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fff;
  width: 214px;
  margin-bottom: 20px;
}

.buttonLogOut {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  border-radius: 20px;
  width: 280px;
  height: 50px;
  box-shadow: (--button-shadow);
  background: var(--button-gradient);
  border: none;
}

.buttonCalcel {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  border-radius: 20px;
  width: 280px;
  height: 50px;
  box-shadow: (--button-shadow);
  background: var(--white);
  border: none;
  color: var(--text-button);
}

@media screen and (min-width: 768px) {
  .logoText {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 52px;
  }
  .text {
    width: 300px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px);
