@media screen and (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .navItem {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .main {
    flex-direction: row;
  }
  .navItem {
    display: flex;
    flex-direction: column;
  }
  .navItem {
    position: relative;
  }
  .navItem::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    border-right: 1px solid var(--white-60);
    filter: var(--drop-shadow);
  }
}
