.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .navItem {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 0px;
  }
  .main {
    flex-direction: row;
  }
  .navItem {
    display: flex;
    flex-direction: column;
  }
  .navItem {
    position: relative;
  }
  .navItem::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    border-right: 1px solid var(--white-60);
    filter: var(--drop-shadow);
  }
}
