.addBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 44px;
  height: 44px;
  border-radius: 44px;
  background: var(--button-gradient);
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

@media screen and (max-width: 768px) {
  .addBtn {
    bottom: 20px;
    right: 20px;
  }
}

.addBtn:hover {
  transform: scale(1.1) rotate(90deg);
}

.addBtn:active {
  transform: scale(0.95);
}
