/* .toggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #4a148c;
}

.toggleSwitch {
  width: 80px;
  height: 40px;
  flex-shrink: 0;
  position: relative;

  border-radius: 30px;
  background: var(--white, #fbfbfb);
  cursor: pointer;
}

.toggleSlider {
  position: absolute;
  top: -2;
  left: -15;
  width: 44px;
  height: 44px;
  border-radius: 9999px;
  transition: all 0.3s ease-in-out;
}

.toggleSwitch.income .toggleSlider {
  transform: translateX(0);
  background-color: #fbbf24;
}

.toggleSwitch.expense .toggleSlider {
  transform: translateX(58px);
  background-color: #f87171;
}

.toggleSymbol {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.toggleLabels {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.toggleLabels span {
  font-size: 1.125rem;
  font-weight: 600;
  color: #9ca3af;
  transition: color 0.3s ease-in-out;
}

.toggleLabels span.active {
  color: #1f2937;
} */

.select {
  width: 280px;
}

@media only screen and (min-width: 768px) {
  .select {
    width: 394px;
  }
}

.select :global(.react-select__control) {
  background-color: rgba(74, 86, 226, 0.1);
  border: 1px solid var(--white-60);
  border-radius: 8px;
  box-shadow: none;
}

.select :global(.react-select__single-value) {
  color: var(--white);
  font-weight: 400;
}

.select :global(.react-select__menu) {
  z-index: 2;
  background: linear-gradient(
    360deg,
    rgba(83, 61, 186) 0%,
    rgba(80, 48, 154) 35.94%,
    rgba(106, 70, 165) 61.04%,
    rgba(133, 93, 175) 100%
  );
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-top: 0px;
  overflow: hidden;

  scrollbar-width: thin;
  scrollbar-color: #ff868d #ff868d;
}

.select :global(.react-select__option) {
  background-color: var(--form-color);
}

.select :global(.react-select__option:hover) {
  color: var(--dashboard-text);
}

.select :global(.react-select__dropdown-indicator) {
  color: var(--white);
}

&::-webkit-scrollbar {
  width: 8px;
  background-color: #51338a;
}
