td.income {
  color: #fbbf24;
  font-weight: 600;
  text-align: right;
  padding-right: 15px;
}

td.expense {
  color: #f87171;
  font-weight: 600;
  text-align: right;
  padding-right: 15px;
}
.date {
  text-align: left;
  padding-left: 20px;
}
.type {
  text-align: left;
  padding-left: 32px;
}
.category {
  text-align: left;
  padding-left: 16px;
}
.comment {
  text-align: left;
  padding-left: 16px;
}
.actionBtn {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.comment:first-letter {
  text-transform: capitalize;
}

.editIcon {
  fill: transparent;
  stroke: rgba(255, 255, 255, 0.6);
}

.textEdit {
  display: none;
}

.editBtn {
  color: #9ca3af;
  background: none;
  border: none;
  cursor: pointer;
}

.editBtn:hover {
  color: white;
}

.deleteBtn {
  width: 69px;
  height: 29px;
  border-radius: 20px;
  background: var(--button-gradient);
  color: white;
  padding: 4px 12px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.deleteBtn:hover {
  background-color: #ea580c;
}

@media screen and (max-width: 768px) {
  .textEdit {
    display: contents;
    font-size: 16px;
  }
}
