@media only screen and (min-width: 768px) {
  .loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../../images/backgroundLogin/backgroundLogin_tab_@1x.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .loginPage {
    background-image: url("../../images/backgroundLogin/backgroundLogin_tab_@2x.webp");
  }
}

@media only screen and (min-width: 1280px) {
  .loginPage {
    background-image: url("../../images/backgroundLogin/backgroundLogin_desctop_1x.webp");
  }
}

@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .loginPage {
    background-image: url("../../images/backgroundLogin/backgroundLogin_desctop_2x.webp");
  }
}
