.financeTableContainer {
  display: flex;
  width: 715px;
  max-height: calc(100vh - 110px);
  border-radius: 10px;
  padding: 10px;
  font-family: var(--font-family);
}

.financeTable tbody {
  display: block;
  width: 100%;
  max-height: calc(100vh - 170px);
  overflow-y: auto;
}

.financeTable thead,
.financeTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.financeTable thead {
  border-radius: 8px;
}
.noTransactionsImg {
  width: 100%;
  height: auto;
  display: flex;
}

.noTransactionsImage {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.financeTable {
  color: var(--white, #fbfbfb);
  font-family: Poppins;
  font-weight: 600;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
}

.financeTable td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.41);
  font-size: 14px;
}

.headTab {
  position: sticky;
  top: 0;
  background: rgba(82, 59, 126, 1);
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.tbody tr:hover {
  background-color: #3d3a4e;
}

.date {
  text-align: left;
  padding: 16px;
  padding-left: 20px;
}
.type,
.category,
.comment {
  text-align: left;
  padding: 16px;
}
.sum {
  text-align: right;
  padding: 16px;
}

.invisAction {
  display: none;
}

@media only screen and (max-width: 1279px) {
  .financeTable tbody {
    max-height: calc(100vh - 385px);
  }
}

@media only screen and (max-width: 768px) {
  .financeTableContainer {
    margin: 0 auto;
    width: 280px;
    padding: 0;
    max-height: 60vh;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .financeTable,
  .financeTable tbody,
  .financeTable tr,
  .financeTable td {
    display: block;
  }

  .financeTable tbody {
    max-height: none;
  }

  .financeTable thead {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .financeTable tbody tr {
    background: rgba(82, 59, 126, 0.6);
    margin-bottom: 8px;
    border-radius: 0.5rem;
    position: relative;
  }

  .financeTable td {
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    position: relative;
    display: flex;
    align-items: center;
  }

  .financeTable td:last-child {
    border-bottom: none;
  }

  .financeTable .actionBtn {
    border-bottom: none;
  }

  .financeTable td::before {
    content: attr(data-label);
    position: absolute;
    left: 6px;
    width: 45%;
    text-align: left;
    font-weight: bold;
  }

  .financeTable .action-buttons {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
  }
}
