.wrapper {
  width: 280px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px 0 11px 32px;
  margin-bottom: 32px;

  border-radius: 8px;
  background: rgba(82, 59, 126, 0.6);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  backdrop-filter: blur(50px);
}
.title {
  color: var(--white-40);
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
}
.balance {
  color: var(--white);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    width: 336px;
    padding: 8px 0 11px 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .wrapper {
    border-radius: 0;
    width: 100%;
    padding: 8px 0 11px 56px;
  }
}
