@import url("./css/styles/variables.css");
@import url("./css/styles/fonts.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  color: currentColor;
  text-decoration: none;
  margin: 0;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--white);
  background-color: #101010;

  ::-webkit-scrollbar-thumb {
    background-color: #ff868d;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ff868d;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: #ff868d transparent;
  }
}
