.boxSelect {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .boxSelect {
    flex-direction: row;
    gap: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .boxSelect {
    gap: 32px;
  }
}

.select {
  width: 280px;
}

@media only screen and (min-width: 768px) {
  .select {
    width: 160px;
  }
}

@media only screen and (min-width: 1280px) {
  .select {
    width: 181px;
  }
}

.select :global(.react-select__control) {
  background-color: rgba(74, 86, 226, 0.1);
  border: 1px solid var(--white-60);
  border-radius: 8px;
  box-shadow: none;
}

.select :global(.react-select__single-value) {
  color: var(--white);
}

.select :global(.react-select__menu) {
  z-index: 2;
  background: linear-gradient(
    360deg,
    rgba(83, 61, 186) 0%,
    rgba(80, 48, 154) 35.94%,
    rgba(106, 70, 165) 61.04%,
    rgba(133, 93, 175) 100%
  );
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-top: 0px;
  overflow: hidden;

  scrollbar-width: thin;
  scrollbar-color: #ff868d #ff868d;
}

.select :global(.react-select__option) {
  background-color: var(--form-color);
}

.select :global(.react-select__option:hover) {
  color: var(--dashboard-text);
}

.select :global(.react-select__dropdown-indicator) {
  color: var(--white);
}

&::-webkit-scrollbar {
  width: 8px;
  background-color: #51338a;
}
